<!-- views/users.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <!-- <meta charset="utf-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <!-- Your custom CSS -->
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>TUtube</title>
</head>
    <body>
        <header>
            TUtube         
            <ul class="topnav">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a class="active" href="">Register</a></li>
                <li style="float:right"><a href="/help">Help</a></li>
            </ul>
        </header>
        <h1>Register here!</h1>
        <form action="/registeruser" method="POST">
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input
              type="firstname"
              id="firstname"
              name="firstname"
              class="form-control"
              placeholder="Enter First Name"
              value="<%= typeof firstname != 'undefined' ? firstname : '' %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input
              type="lastname"
              id="lastname"
              name="lastname"
              class="form-control"
              placeholder="Enter Last Name"
              value="<%= typeof lastname != 'undefined' ? lastname : '' %>"
              required
            />
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="username"
              id="username"
              name="username"
              class="form-control"
              placeholder="Enter Username"
              value="<%= typeof username != 'undefined' ? username : '' %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Register
          </button>
        </form>
        <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p>
    </body>
</html>






      