<!-- views/users.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <!-- <meta charset="utf-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <!-- Your custom CSS -->
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>TUtube</title>
</head>
    <body>
        <header>
            TUtube         
            <ul class="topnav">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a class="active" href="">Register</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </header>
        <h1>Register here!</h1>
        <div class="container">
        <form action="/register" method="POST">
          <table class="list-table">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <div class="form-group">
                        <td><label for="firstname">First Name:</label></td>
                        <td><input
                        type="firstname"
                        id="firstname"
                        name="firstname"
                        class="form-control"
                        placeholder="Enter First Name"
                        value="<%= typeof firstname != 'undefined' ? firstname : '' %>"
                        required
                      /></td>
                        </div>
                  </tr>
                  
                  <tr>
                    <div class="form-group">
                        <td><label for="lastname">Last Name:</label></td>
                        <td><input
                        type="lastname"
                        id="lastname"
                        name="lastname"
                        class="form-control"
                        placeholder="Enter Last Name"
                        value="<%= typeof lastname != 'undefined' ? lastname : '' %>"
                        required
                      /></td>
                    </div>
                  </tr>
                    <tr>
                    <div class="form-group">
                        <td><label for="username">Username:</label></td>
                        <td><input
                        type="username"
                        id="username"
                        name="username"
                        class="form-control"
                        placeholder="Enter Username"
                        value="<%= typeof username != 'undefined' ? username : '' %>"
                        required
                      /></td>
                    </div>
                  </tr>

                  <tr>
                      <div class="form-group">
                          <td><label for="email">Email:</label></td>
                          <td><input
                          type="email"
                          id="email"
                          name="email"
                          class="form-control"
                          placeholder="Enter Email"
                          value="<%= typeof email != 'undefined' ? email : '' %>"
                          required
                        /></td>
                      </div>
                    </tr>

                    <tr>
                      <div class="form-group">
                          <td><label for="password">Password:</label></td>
                          <td><input
                          type="password"
                          id="password"
                          name="password"
                          class="form-control"
                          placeholder="Create Password"
                          value="<%= typeof password != 'undefined' ? password : '' %>"
                          required
                        /></td>
                      </div>
                     </tr>
                    </tbody>
                  </table>
          <button type="submit">
            Register
          </button>
        </form>
        <p>Have An Account? <a href="/login">Login</a></p>
      </div>
    </body>
</html>






      